<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272453477913-0ookn5eqrspghnc6gluvtsnbleho1pat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272453477913-0ookn5eqrspghnc6gluvtsnbleho1pat</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272453477913-5f1ohgpr666vrmglhr47qpm972nue6kh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI-GfoYJ37CO5qerGLcUh2sU0VXBX3xtE</string>
	<key>GCM_SENDER_ID</key>
	<string>272453477913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logicielapplab.geofauna</string>
	<key>PROJECT_ID</key>
	<string>geofaunagps</string>
	<key>STORAGE_BUCKET</key>
	<string>geofaunagps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272453477913:ios:154840068f93464ec7ac88</string>
</dict>
</plist>